body {
 /* background-image: url('./image/logoNew.png');
 background-repeat: no-repeat;
 background-position:center;
 height: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
